{% extends 'main.html' %}

{% block content %}

<h1>Hello, {{ request.user }}</h1>
    {% if user.is_authenticated %}
<li><a class="getstarted scrollto" href="logout">Logout</a></li>
{% endif %}
    <div>
    <h2>To-do for today!</h2>
        {% for task in tasks %}
    <span>{{ task.name }}</span>
    <span>{{ task.time|date:'d-m-y' }}</span><br>
        {% endfor %}
    <br>
    <a href='{% url 'add-task' %}'>Add task</a>
    </div>
    <div>
    <h2>Your long term Goals.</h2>
        {% for goal in goals %}
    <span>{{ goal.name }}</span>
        <span>{{ goal.created|timesince }} ago</span><br>
        {% endfor %}
    <a href='{% url 'add-goal' %}'>Add a Goal</a>
    </div><br>
{% endblock %}
